{% extends "base.html.twig" %}


{% block title %} Choix des mémoires{% endblock %}



{% block titre3 %} Choisir les mémoires {% endblock %}


{% block body %}
  {% for edition in editions %}
      <h2>La {{ edition.ed}}<sup>e</sup>  édition </h2>
      <li><a  class="button" href="{{ path('fichiers_voirmemoires',{editionId_concours : edition.id~'-cia'})}}" >Concours interacadémiques</a>
      <li><a  class="button" href="{{ path('fichiers_voirmemoires',{editionId_concours : edition.id~'-cn'})}}" >Concours national</a>
      <hr>
 {% endfor %}
      
      
  

      
 
    
       
   
 {% block javascripts %}
  
   
        
        
    {% endblock %}  
   
        
     
{% endblock %}


